body{
  margin: 0;
}

.calendar{
  width: 400px;
  height: 500px;
  background-color: red;
}

.month{
  display: flex;
  background-color: green;
}

.date{
  margin: 15px auto;
}

.prev{
  position: relative;
  top: 20px;
  left: 20px;
}
.next{
  position: relative;
  top: 20px;
  right: 15px;
}

.prev:hover, .next:hover{
  cursor: pointer;
}

/* weekdays's grid */

.weekdays, .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.weekdays{
  margin: 10px auto;
  text-align: center;
}

.days div{
  padding: 5px;
  border: solid black 1px;
  text-align: center;
  margin: 5px;
}.days div:hover{
  cursor: pointer;
}

.today{
  background-color: orange;
}